@{
    ViewData["Title"] = "Welcome";
}

<h1>Laboratory work №3</h1>

<h3>Development of ASP.NET Core MVC application using OAuth2</h3>

<p>
    This web application was developed as part of Laboratory Work №3.
</p>

<p>
    The purpose of the work is to create an ASP.NET Core MVC application
    with user registration, authentication and authorization using OAuth2.
</p>

<p>
    Implemented features:
</p>

<ul>
    <li>Welcome page with description of the laboratory work</li>
    <li>User registration with validation</li>
    <li>User authentication using Google OAuth2</li>
    <li>User profile page</li>
    <li>Three protected pages with subroutines</li>
</ul>

<hr />

<a href="/Account/Register">Register</a> |
<a href="/Account/Login">Login with Google</a>
