<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/Account/Login">Login</a> |
        <a href="/Account/Profile">Profile</a>
    </nav>
    <hr />
    @RenderBody()
</body>
</html>
